
.col-xs-18, .col-sm-18, .col-md-18, .col-lg-18,
.col-xs-17, .col-sm-17, .col-md-17, .col-lg-17,
.col-xs-16, .col-sm-16,.col-md-16,.col-lg-16,
.col-xs-15, .col-sm-15,.col-md-15,.col-lg-15,
.col-xs-13, .col-sm-13, .col-md-13, .col-lg-13,
.col-xs-14, .col-sm-14, .col-md-14, .col-lg-14,
.col-xs-19, .col-sm-19, .col-md-19, .col-lg-19,
.col-xs-20, .col-sm-20, .col-md-20, .col-lg-20 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-20{
	width: 70%;
	float: left;
}


.col-xs-19{
	width: 90%;
	float: left;
}

.col-xs-18{
	width: 30%;
	float: left;
}

.col-xs-17{
	width: 10%;
	float: left;
}

.col-xs-16{
	width: 80%;
	float: left;
}
.col-xs-15 {
    width: 60%;
    float: left;
}
.col-xs-14 {
    width: 40%;
    float: left;
}
.col-xs-13 {
    width: 20%;
    float: left;
}

@media (min-width: 468px) {
	#home-banner h5{
		font-size: 22px;
	}
}


@media (min-width: 768px) {
	#home-banner h5{
		font-size: 24px;
	}
	.col-sm-20{
		width: 70%;
		float: left;
	}
	.col-sm-19{
		width: 90%;
		float: left;
	}

	.col-sm-18{
		width: 30%;
		float: left;
	}

	.col-sm-17{
		width: 10%;
		float: left;
	}

	.col-sm-16{
		width: 80%;
		float: left;
	}
  .col-sm-15 {
    width: 60%;
    float: left;
  }
  .col-sm-14 {
    width: 40%;
    float: left;
  }
  .col-sm-13 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .ap-dboard-header{
  	position: relative;
  	margin-top: -30px;
  	padding: 0 25px;
  	background-color: transparent;
  	text-align: right;
  }

  .ap-dboard-collapsable-menu{
  	width: 150px;
  	float: right;
  	background-color: rgba(0, 172, 122, 0.8)!important;
  }

  .ap-dboard-collapsable-notifs{
  	float: right;
  	width: 280px;
    text-align: left;
  	background: rgba(0, 172, 122, 0.8)!important;
  }

  .ap-dboard-collapsable-notifs ul{
    margin: 0px;
  }

  .ap-dboard-ul li > i{
  	color: white;
  }

  .ap-dboard-ul li > a:hover{
  	color: black;
  }

  .ap-dboard-ul li{
  	display: inline;
  }

	#home-banner h5{
		font-size: 25px;
	}
	.ap-header{
		text-align: left;
	}
	.row-flex, .col-flex{
			display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
	}

	.col-md-20{
		width: 70%;
		float: left;
	}
	.col-md-19{
		width: 90%;
		float: left;
	}

	.col-md-18{
		width: 30%;
		float: left;
	}

	.col-md-17{
		width: 10%;
		float: left;
	}
	.col-md-16{
		width: 80%;
		float: left;
	}
  .col-md-15 {
    width: 60%;
    float: left;
  }
  .col-md-14 {
    width: 40%;
    float: left;
  }
  .col-md-13 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
	#home-banner h5{
		font-size: 30px;
	}
	.ap-header{
		text-align: left;
	}
	.row-flex, .col-flex{
			display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
	}
	#appointment-fields{
		margin-top: 0px;
	}
	.col-lg-20{
		width: 70%;
		float: left;
	}
	.col-lg-19{
		width: 90%;
		float: left;
	}

	.col-lg-18{
		width: 30%;
		float: left;
	}

	.col-lg-17{
		width: 10%;
		float: left;
	}
	.col-lg-16{
		width: 80%;
		float: left;
	}
  .col-lg-15 {
    width: 60%;
    float: left;
  }
  .col-lg-14 {
    width: 40%;
    float: left;
  }
  .col-lg-13 {
    width: 20%;
    float: left;
  }
}

@media only screen
and (min-width:360px)
and (max-width:991px) {
  /* dboard */
  .ap-dboard-header{
    display: none;
    height: 65px;
  	width: 100%;
  	background-color: rgba(255, 255, 255, 0.8);
  	text-align: center;
  }

  .ap-dboard-collapsable-menu{
    text-align: center;
  	width: 100%;
  	background-color: rgba(0, 172, 122, 0.7)!important;
  }

  .ap-dboard-collapsable-notifs{
  	float: right;
  	width: 100%;
  	background: rgba(0, 172, 122, 0.7)!important;
  }

  .ap-dboard-ul li i{
  	color: black!important;
  	cursor: pointer;
  	padding: 3px 0px;
  }

  .ap-dboard-ul li i > p{
  	display: block;
  	padding: 5px;
  	font-size: 18px;
  }


  .ap-dboard-ul li a:hover,
  .ap-dboard-ul li a:focus{
  	color: rgba(0, 172, 122,.8)!important;
  }


  /* dboard end */
}
