.checkboxes label {
  display: block;
  float: left;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  margin-left: 5px;
  vertical-align: middle;
}
.lelbels{
	vertical-align: middle;
	margin-left: 5px;
}

.row-flex, .col-flex{

}

.modal-dialog-custom{
	width: 900px!important;
}

.modal{
	padding-right: 0px!important;
}

.navbar-default{
	background-color: rgba(0, 172, 122, 0.8)!important;
  border-color: rgba(0, 172, 122, 0.8)!important;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.navbar-brand{
	color: white!important;
	font-size: 25px!important;
	position: relative;
}

.navbar-default .navbar-toggle {
    border-color: white!important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white!important;
}

.navbar-toggle:hover,
.navbar-toggle:focus{
	background: rgb(0, 172, 122)!important;
}

.fa-cust {
    font-size: .6em!important;
}

* {
	font-family: 'Raleway', sans-serif!important;
}

html,body{
	height: 100%;
}

body{
	margin: 0;
	font-size: 17px!important;
	background-color: #F6F6F6!important;
}


h1{
	font-size: 14px!important;
}


.ap-ul,
.ap-tabs,
.ap-tabs-st2{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.ap-tabs-st2 li{
	padding: 10px 5px;
	border-bottom: 1px solid #31BA92;
	-o-transition: ease-in .2s;
  -ms-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

.ap-tabs-st2-animate{

}

.ap-tabs-st2 li:hover{
	padding-left: 20px;
	border-bottom: 4px solid #31BA92;
}

.ap-tabs-st2 li a::after{
	float: right;
	font-family: FontAwesome;
	content: "\f105";
}

.ap-tabs-st2 li a{
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.ap-ul-2c li{
	font-size: 20px;
	display: block!important;
	text-align: left!important;
}

.ap-ul-3c{
	columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.ap-tabs{
	text-align: left!important;
}

.ap-tabs li{
	display: inline;
}


.ap-tabs li > a{
	color: white!important;
	padding: 10px 30px;
	background-color:  rgb(59, 195, 125)!important;
}

.ap-tabs li > a:hover,
.ap-tabs li > a:focus{
	color: white!important;
	padding: 10px 30px;
	background-color:  rgb(0, 172, 122)!important;
}


.ap-ul li{
	display: inline;
}

.ap-ul li > a,
.ap-tabs li > a{
	color: black;
	text-decoration:none;
}

.ap-tabs li > a:hover,
.ap-tabs li > a:focus,
.ap-tabs li > a:active,
.ap-ul li > a:hover,
.ap-ul li > a:focus,
.ap-ul li > a:active{
	text-decoration: none;
}

.ap-adjust{
	padding: 5px 50px;
}

.ap-ul-st2{
	text-align: left;
}

.ap-ul-st2 li > a {
	padding: 15px 10px;
}

.ap-ul-st2 li > a:focus,
.ap-ul-st2 li > a:hover{
	text-decoration: none;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: rgba(0, 172, 122, 0.8);
}



.ap-input{
	background-color: rgb(255, 255, 255)!important;
	border: 1px solid #C7C7C7;
	padding: 8px 10px;
	font-size: 14px;
	max-height: 40px;
	width: 100%;
	margin-bottom: 10px;
}

.ap-input-half{
	width: 50%;
}

.ap-input-quarter-min{
	width: 25%;
}

.ap-input-quarter-max{
	width: 75%;
}


textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus, .ap-input:focus {
	border-color: rgba(0, 172, 122, 0.8);
	box-shadow: 0 1px 1px rgba(0, 172, 122, 0.075) inset, 0 0 3px rgba(0, 172, 122, 0.6);
	outline: 0 none;
}

.ap-textarea{
	resize: none;
	max-height: 200px;
}


.ap-icon-input > i{
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  margin-top: 10px;
  color: #7B7B7B;
}

.ap-icon-input > .ap-input {
	padding-left: 30px;
}

.ap-input-select{
  padding-bottom: 12px;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/down.png) no-repeat right white;
  background-position: right 10px top 10px;
	color: grey;
}

.ap-btn{
  font-size: 15px;
	min-height: 20px;
	max-height: 40px;
  color: black!important;
	display: inline-block;
	text-align: center;
	padding: 8px 10px;
}

.ap-btn-half{
	width: 50%!important;
}

.ap-btn:hover,
.ap-btn:focus{
	text-decoration: none;
}

.ap-btn-standard{
	margin: 0px 5px;
	float: none!important;
	background-color: rgb(59, 195, 125)!important;
	color:white!important;
}

.ap-btn-primary{
	width: 100%;
	background-color: rgb(59, 195, 125)!important;
	color:white!important;
}

.ap-btn-primary:hover,
.ap-btn-standard:hover{
	background-color: rgb(0, 172, 122)!important;
}

.ap-btn-default:hover{
	background-color: #F6F6F6!important;
}

.ap-container{
	position: relative;
	width: 100%!important;
}

#header{
	min-height: 52px;
}

.no-decoration{
	 text-decoration: none!important;
 }
.no-decoration:hover{
	color:white;
}

#footer{
	text-transform: uppercase;
	background: rgba(0, 172, 122, 0.8);
	color: #fff;
	float: left;
	height: 50px;
	width: 100%;
	text-align: center;

	-webkit-box-shadow: 0 1px 10px rgba(0,1,1,.2);
	-moz-box-shadow: 0 1px 10px rgba(0,1,1,.2);
	box-shadow: 0 1px 10px rgba(0,1,1,.2);
}

.bg_animate{
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
}

.bg{
	-o-transition: ease-in .2s;
  -ms-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

.bg{
	margin-bottom: 10px;
	border-bottom: solid #00d999;
}

.bg:hover{
	border-width: 20px;
}

.bg_animate:hover{
	background-color: white;
	background-size: 103px 103px;
}



#box_200{
	height: 300px;
	padding: 10px 10px 0px 10px;
}

#box_50{
	height: 50px;
	padding: 10px 50px;
	border-style: solid;
  border-width: 0px 0px 2px 0px;
	border-color: #C7C7C7;
}

#box_100{
	min-height: 100px;
	padding: 10px 50px;
}

#box_180{
	min-height: 100px;
	padding: 20px 30px;
	background-color: white;
	width: 100%;
	margin-bottom: 10px;
}


#box_150{
	min-height: 100px;
}

.box-title{
	color: white;
	font-size: 20px;
}
.box-content{
	padding: 10px;
}

.box-content .row > div{
	margin: 5px 0px;
}

.post{
  background-color: white;
  margin: 10px 0px 10px 0px;
  padding: 15px 15px 15px 15px;
}

.post-r-2{
	margin-top: 35px;
}

.post-ul{
	list-style: none;
}

.post-ul li{
	text-align: center;
}

.post-ul li a{
	color: rgba(0, 172, 122, 0.8)!important;
	text-decoration: none;
	font-size: 15px;
}

.post-serving{
	width: 100%;
	min-height: 70px;
	margin: 10px 0px;
}

.post-search{
	width: 100%;
	min-height: 100px;
	border: 1px solid #C7C7C7;
}

.post-search > img{
    height: auto;
    width: auto;
    max-width: 120px;
	float: left;
	display: inline-block;
}

.post-search-content{
	padding-left: 130px;
	text-align: left;
}

.post-search-content .rating-md{
	margin-top: -10px;
	font-size: 1.5em;
}

.post h2{
	margin: 0;
	font-size: 16px!important;
	font-weight: bold;
}

.post h4{
	font-size: 14px!important;
	font-weight: bold;
	color: rgba(0, 172, 122, 0.8)!important;
	margin-top: 0px;
}

.post p{
	margin: 0px 0px;
	font-family: inherit!important;
	font-size: 13px!important;
}

.ap-separator{
	width: 100%;
  height: 2px;
  background-color: rgba(0, 172, 122, 0.8)!important;
  margin: 10px 0px 15px 0px;
}

.ap-spacer{
	margin: 20px 0px;
}

.ap-separator-st2{
	width: 100%;
  height: 1px;
  background-color: rgba(0, 172, 122, 0.8)!important;
  margin: 10px 0px 15px 0px;
}


.setting-content .footable-toggle{
	display: none!important;
}


input[type="checkbox"] {
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #b6b6b6;
    width: 25px;
    height: 25px;
}

input[type="checkbox"] + label {
	margin-top: 4px;
	margin-left: 10px;
}



input[type="checkbox"]:checked {
    background-image: url(../images/checked.png);
    background-repeat: no-repeat;
    border:1px solid #27B8E5;
    display: block;
    width: 25px;
    height: 25px;
}

/*Header*/

#navigation ul li{
	-webkit-transition: background-color .6s;
	-moz-transition: background-color .6s;
	-o-transition: background-color .6s;
	-ms-transition: background-color .6s;
	transition: background-color .6s;
}

#navigation ul li:hover{
	background-color: #F2F2F2;
}

#navigation ul li a:hover{
	color: black!important;
}

#navigation ul li a{
	color: white!important;
}


.ap-header{
	max-height: 46px;
	text-align: center;
	background-color: rgba(0, 172, 122,.8)!important;
}
.nav-logo{
	font-size: 30px;
	padding: 0 30px;
	color: white;
	font-weight: bold;
}


#search_bar{
 width: 50%;
-moz-transition: .5s ease;
-webkit-transition: .5s ease;
-o-transition: .5s ease;
-ms-transition: .5s ease;
transition: .5s ease;
}

#search_bar:focus {
width: 100%;
outline: none;
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
box-shadow: inset inset 0 0 5px rgba(0,0,0,0.5);
}

.notransition {
	width: 100%!important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


/*Carousel*/
/*#ap_carousel{
	margin-top: -8px;
	margin-bottom: -71px;
}

#ap_carousel .item img{
	display: block;
	width: 100%;
	height: auto;
}

.owl-buttons, .owl-buttons, .owl-pagination{
	visibility: hidden;
}

#carousel{
	text-align: center;
}

#book_btn{
	position: absolute!important;
	width: 20%;
	margin-top: -50px;
}*/

/* Home */
#home-banner{
	text-align: center;
}

#home-banner > img {
	width: 100%;
	height: 100%;
}

.strip{
	width: 100%;
	height: 100px;
	background: #ffffff;
	opacity: .5;
	margin-top: -125px;
	position: absolute;
}



#home-banner h5, #home-banner h4, .strip{
	position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#home-banner h5{
  margin-top: -120px;
	font-size: 20px;
	font-weight: bold;
}

#home-banner h4{
	margin-top: -50px;
	font-size: 18px;
	color: rgba(0, 172, 122,.8)!important
}


/* Home end */
/*Carousel end*/

/*About*/
	#about{
		background-color: white;
	}
	.title{
		font-weight: bold;
		font-size: 30px;
	}

	.title-line{
		background-color: #898989;
    display: inline-block;
    height: 3px;
    margin-bottom: 16px;
    width: 60px;
	}

	.title-area span{
		color: rgba(0, 172, 122, 0.8);
	}


/*About end*/


/* Find */
#find #box_100{
	background-color: rgba(0, 172, 122, 0.8)!important;
}

#find-doctor #box_100 {
	background-color: white;
}

#find-search .row > #box_100{
	margin: 0px 10px;
}

#search-area,#settings-area{
	margin: 0;
    padding: 0;
    width: 100%;
}



/*Login*/
#login-area{
	max-width: 400px;
	z-index: 100;
	margin: 0 auto;
	padding-top: 40px;
}

#login-area h5{
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	color: #19795D;
}
/**/





/* Find end */


/*Services*/
#what-you-can-do{

}

.bg:hover .website-icons{
	width: 120px;
	height: 120px;
}

.website-icons{
  height: 110px;
	width: 110px;
	-o-transition: ease-in .2s;
	-ms-transition: ease-in .2s;
	-moz-transition: ease-in .2s;
	-webkit-transition: ease-in .2s;
	transition: ease-in .2s;
}

/*book*/
/*book end*/

/*Services end*/

/* Profile */

#content-details{
	text-align: left;
	padding: 5px;
}

/*
#content-details .row{
	padding-bottom: 25px;
}*/

/* dashboard */
.ap-dboard-header{
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	width: 100%;
}


.ap-dboard-ul,
.ap-dboard-collapsable-menu > ul,
.ap-dboard-collapsable-notifs  ul{
	list-style: none;
	padding:0;
}

.ap-dboard-collapsable-menu,
.ap-dboard-collapsable-notifs{
	min-height: 30px;
	display: none;
	color: white;
	text-align: center;
}



.ap-dboard-collapsable-notifs ul{
	margin: 0;
}

.ap-dboard-collapsable-notifs ul li{
	padding: 10px 5px;
	font-size: 13px;

}

.ap-dboard-collapsable-notifs ul li a,
.ap-dboard-collapsable-notifs ul li a span{
	display: block;
}

.ap-dboard-collapsable-notifs ul li a span{
	color: #E2E2E2;
}


.ap-dboard-collapsable-notifs ul li:hover{
	cursor: pointer;
	background-color: #19795D;
}

.ap-dboard-collapsable-notifs ul li{
	border-bottom: 1px solid white;
}

.notification-area{
	width: 100%;
}

.flash-danger{
	font-size: 19px;
	color: red;
}

.flash-success{
	font-size: 19px;
	color: green;

}




.ap-dboard-ul li{
	display: inline;
	margin:0;
	padding: 0px 10px;
}

.ap-dboard-ul a{
	text-decoration: none;
	color: white;
}

.ap-dboard-ul li i{
	cursor: pointer;
	padding: 3px 0px;
}

.ap-dboard-ul li  i > p{
	display: inline;
	padding: 5px;
	font-size: 18px;
}

.ap-dboard-collapsable-menu ul{
	margin: 0;
	color: white;
	text-decoration: none;
}

.ap-dboard-collapsable-menu ul > li {
		padding: 10px 0px;
}

.ap-dboard-collapsable-menu ul > li > a,
.ap-dboard-collapsable-notifs ul  li  a{
	color: white;
	text-decoration: none;
	padding: 0px 10px;
}

.header-toggler{
	position: absolute;
	top:5px;
	left: 25px;
	display: none;
}

.header-toggler button{
	margin: 0;
	padding: 5px 10px;
	border: none;
	color: #31BA92!important;
	background-color: white!important;
}

.ap-dboard-collapsable-menu ul > li:hover{
	cursor: pointer;
	background-color: #19795D;
}

#dboard-tab-control{
	margin-top: 10px;
	margin-bottom: 25px;
}

.footable > thead > tr > th, .footable > thead > tr > td {
    background-color: rgb(59, 195, 125)!important;
    border: 1px solid rgb(59, 195, 125)!important;
}

.table>tbody>tr>td{
	vertical-align: middle!important;
}

.footable {
    border: 3px solid rgb(59, 195, 125)!important;;
}

.footable > tfoot > tr > th, .footable > tfoot > tr > td {
    background-color: rgb(59, 195, 125)!important;
    border: 1px solid rgb(59, 195, 125)!important;
}

.patient-dashboard-title{
	min-height: 50px!important;
}
.patient-dashboard-title h2{
margin: 0;
font-size: 30px;
}


#profile-post > h5{
	display: inline;
	font-size: 30px;
	padding-left: 10px;
}

#profile-post ul,
#profile-details ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#profile-post ul > li > h3{
	margin: 0;
	padding: 0;
	margin-top: 10px;
	font-size: 18px;
	color:rgba(0, 172, 122, 0.8)!important;
}

#profile-post ul > li > p{
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: black;
}

button{
    border:0;
}


#profile-details ul > li > h4{
	font-weight: bold;
	font-size: 15px;
	padding-right: 15px;
}

#profile-details ul > li > h6{
	font-size: 14px;
	color:rgba(0, 172, 122, 0.8)!important;
	padding-left: 15px;
}


#profile,
#content{
	display: block;
	text-align: center;
}

#profile h5#name{
	font-size: 25px;
	font-weight: bold;
}

#profile h5#title{
	font-size: 17px;
	font-weight: bold;
}

#profile p#workplace{
	padding: 0;
	margin: 0;
	font-size: 15px;
}

#profile p#member{
	padding: 0;
	margin: 0;
	font-size: 13px;
}

#profile p#about{
	margin: 0!important;
	padding: 0!important;
	font-size: 14px;
	/*text-align: justify;*/
}

.clear-rating{
	display: none!important;
}

.caption{
	margin-right: 5px!important;
	margin-top: 2px!important;
}
.caption .label-default{
	background-color:#33BC94;
}

.caption .label{
	font-size: 50%;
	border-radius: 0;
}

.currently-serving-sm{
	width: 70px;
  height: 70px;
  background-color: #33BC94;
	text-align: center;
	font-size: 45px;
	color: white;
	font-weight: bold;
}

.serving{
	background-color: orange!important;
}

.post-serving > .col-md-17{
	margin: 0;
	padding: 0;
}

.post-serving-content{
	margin-top: 22px;
}
.post-serving-content > .time{
	color: #33BC94;
	font-weight: bold;
}

.review-rated{

}

.review-img{
	width: 60px;
  height: 60px;
  background-color: orange;
	text-align: center;
	font-size: 40px;
	color: white;
	font-weight: bold;
}

.review-content{
	/*margin-top: -10px;
	margin-left: -15px;*/
}

.review-content > .rating-container{
	margin-top: -29px;
	margin-left: -5px;
}

.review-content > h3{
	margin: 0;
	padding: 0;
	padding-top: 10px;
	font-size: 20px;
}

.review-content > textarea{
	resize: none;
	max-height: 100px!important;
}

.review-content > .ap-btn{
	width: 100px!important;
	float: right;
}

.review-rated .review-content > textarea{
	background-color: white;
	border: 0;
}
/*
#profile > #profile-others{
	text-align: left;
	min-height: 50px;
	margin: 10px 0px;
}*/

#profile > #specialization{
	width: 100%;
	height: 30px;
	background-color: rgba(0, 172, 122, 0.8)!important;
	line-height: 1.7;
	font-size: 15px;
	color: white;
}

#profile > #profile-img{
  position: relative;
}

#profile-img > img {
	vertical-align: middle;
	max-width: 100%;
  height: auto;
}


#booking-btns #box_100{
	margin-top: 20px;
	height: 100%;
	width: 100%;
	background: rgba(0, 172, 122, 0.8)!important;
	text-align: left;
}

#booking-btns #box_100:hover,
#booking-btns #box_100:focus{
	background: rgba(0, 172, 122, 1)!important;
}

#booking-btns #box_100 > h1,
#booking-btns #box_100 > h2,
#booking-btns #box_100 > h3,
#booking-btns #box_100 > h4{
	color: white;
	margin: 0;
}

#booking-btns #box_100 > h1{
	font-size: 30px!important;
}

#booking-btns #box_100 > h2{
	font-size: 18px!important;
}

#booking-btns #box_100 > h3{
	font-size: 17px!important;
}

#booking-btns #box_100 > h4{
	padding-top: 20px;
	font-size: 40px!important;
}

#booking-btns > .row > .queue-btns{
	cursor: pointer;
}

.inactive-today{
	background-color: #7CB0BB!important;
}

#queue-content h5{
	font-size: 20px;
}

#queue-content h4{
	font-size: 50px;
	color: rgba(0, 172, 122, 1)!important;
}


#tab1 > .ap-container{
	margin-top: 0;
}

/* profile end */

/*Modals*/

.modal-footer{
	text-align: center!important;
}

input.ng-invalid.ng-dirty {
    border-color:red;
}
input.ng-valid.ng-dirty {
		border-color:green;
}


/*Modals*/

/*extra control*/
.hide{
	visibility: hidden;
}

.rmv-left-padding{
	padding-left: 0!important;
}

.rmv-right-padding{
	padding-right: 0!important;
}

.rmv-padding{
	padding: 0!important;
}

.rmv-margin{
	margin: 0!important;
}

.text-left{
	text-align: left!important;
}
.text-right{
	text-align: right!important;
}

.modal-btn-center{
	text-align: center!important;
}

.add-icon{
	color: rgb(59, 195, 125)!important;
}

.ap-input-note{
	padding-left: 20px;
	color: red;
	font-size: 12px;
}

.ap-input-note-2x{
	font-size: 18px;
}

/*end/
